version: '3'
services:
  mariadb:
    container_name: db
    image: mariadb:11
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: admin
      MARIADB_DATABASE: prestashop
    networks:
      - prestashop_network
    ports: 
      - 3306:3306

  prestashop:
    container_name: prestashop
    build: .
    restart: unless-stopped
    tty: true
    stdin_open: true
    depends_on:
      - mariadb
    ports:
      - 8080:80
    environment:
      DB_SERVER: mariadb
      DB_NAME: prestashop
      DB_USER: root
      DB_PASSWD: admin
    networks:
      - prestashop_network

networks:
  prestashop_network:
